const config = {
	api_key:'' // BM-APIKEY
	relais:'', // Call of Repeater
	relais_id: 9999, // BM-ID of Repeater
	slot:[1,2],	// Slots which trigger it
	karenz: 5, 
	looking_for:[123,456],	// DMR-IDs which are triggering it
	telegram_token: '',	// token for telegrambot (see botfather at telegram)
	telegram_channel: -1234,	// ChannelID from telegram
};

module.exports = config;
